<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PASLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ekey" value="938938!@#^;;AE783NMJH@956" />
    <add key="LogFilePath" value="C:\\Log\\PrinterServiceAgent\\" />
    <add key="LogError" value="false" />
    <add key="SendEcho" value="false" />
    <add key="FeedTimer" value="1" />
    <add key="port" value="18000"  />
    <add key="ip" value="11.1.24.134" />
    <add key="piperoot" value="."  />
    <add key="pipename" value="EspfServer00" />
    <add key="commtype" value="PIPE" />
    <add key="model" value="Evolis Primacy" />
  </appSettings>
  <applicationSettings>
    <PASLibrary.Properties.Settings>
      <setting name="PASLibrary_PrinterMonitoringServer_FLSSolution"
        serializeAs="String">
        <value>http://localhost/PrinterMonitor/FLSSolution.asmx</value>
      </setting>
    </PASLibrary.Properties.Settings>
  </applicationSettings>
</configuration>